.borderStyle{
    width: 500px;
    height: 500px;

    /* border color */
    border-color: black;
    /* border style */
   
    border-style: none;
    border-style: hidden;
    border-style: dotted;
    border-style: dashed;
    border-style: solid;
/* border width */
border-width: thin;
border-width: medium;
border-width: thick;
border-width: 1px;
/* border bottom */
border-bottom-width: 10px;
/* border color */
border-color: blue;
border-bottom-color: red;
/* border radius */
border-radius:  15px;
border-bottom-right-radius: 50px;
}